<div class="row">
    <div class="col-8">
        <h5>
            {{postItem.title}}
        </h5>
    </div>
    <div class="col-4 text-right">
        {{postItem.createdAt | date : 'dd/MM/yyyy, HH:mm' | lowercase }}
    </div>
    <div class="col-12 p-0">
        {{postItem.content}}
    </div>
    <div class="col-8">
        <button class="btn btn-success mr-2"
                (click)="onLoveItClick(index)">Like It ! ({{postItem.loveIts}})
        </button>
        <button class="btn btn-danger ml-2"
                (click)="onHateItClick(index)">Hate It ! ({{postItem.hateIts}})
        </button>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-danger ml-2"
                (click)="onDeleteIt()">Delete It !
        </button>
    </div>
</div>
